<h3 style="font-family: 'Lobster';"><br>Nuestros Patrocinadores:<br></h3>
<div class="container img-thumbnail">
	<a target="_blank" href="https://twitter.com/fontanadecubas" data-toggle="tooltip" data-placement="left" title="Restaurante La Fontana - Cubas de La Sagra (Madrid)">
		<img src="/images/sponsors/LaFontana.jpg">
	</a>
	<a target="_blank" href="https://es-es.facebook.com/The-Irish-Parrot-Tavern-169073816848694/" data-toggle="tooltip" data-placement="left" title="The Irish Parrot Tavern - Griñón (Madrid)">
		<img src="/images/sponsors/TheIrishParrot.jpg">
	</a>
	<a target="_blank" href="https://es-la.facebook.com/algomas.peluqueros" data-toggle="tooltip" data-placement="left" title="Peluquería Algo Más - Cubas de La Sagra (Madrid)">
		<img src="/images/sponsors/AlgoMas.jpg">
	</a>
	<a target="_blank" href="http://www.infercocinas.es/" data-toggle="tooltip" data-placement="left" title="Infer Cocinas - Cubas de La Sagra (Madrid)">
		<img src="/images/sponsors/InferCocinas.jpg">
	</a>
	<a target="_blank" href="https://www.facebook.com/DIKIDIKI1234/?rf=343475129065254" data-toggle="tooltip" data-placement="left" title="Restaurante Diki - Torrejón de La Calzada (Madrid)">
		<img src="/images/sponsors/Diki.jpg">
	</a>
</div>
