<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ club.title }}
		{% block title %}
		{% endblock %}
	</title>
	<link href="/static/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/font-awesome/5.0.13/css/fontawesome-all.css" rel="stylesheet">
	<link href="{{ club.stylesheet }}" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	{% block header %}
	{% endblock %}

	{% block navbar %}
	{% endblock %}

	<div class="container-fluid text-center" style="margin-top:75px;">
		<div class="row content">
			<div class="col-xl-10 text-left">
				{% block content %}
				{% endblock %}
			</div>
			<div class="col-xl-2 sidenav">
				{% block right %}
				{% endblock %}
			</div>
		</div>
	</div>

	{% block footer %}
	{% endblock %}

	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>
