    {% extends 'base1.html' %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-xl-2 sidenav">
        </div>
        <div class="col-xl-10 text-left">
            <div class="myContactMessage text-justify">
                <h1>Contáctanos</h1>
                <h5><br>Puedes contactar con nosotros a través de los siguientes medios: </h5>
                <ul>
                {% for social in club.social %}
                    {% if social.social.name == "Telephone" %}
                    <br><li>Llamándonos al teléfono <a href="{{ social.href }}"><span class="{{ social.social.icon }}"></span><strong> {{ social.href|slice:"4:" }}</strong></a></li>
                    {% endif %}
                    {% if social.social.name == "e-Mail" %}
                    <br><li>Escribiéndonos un correo a la dirección <a href="{{ social.href }}"><span class="{{ social.social.icon }}"></span><strong> {{ social.href|slice:"7:" }}</strong></a></li>
                    {% endif %}
                {% endfor %}
                    <br><li>Dejándonos tus datos, en breve nosotros nos pondremos en contacto contigo:</li><br>
                </ul>
                <form method="post" class="post-form">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}" style="width:80px">Teléfono:</label>
                        {{ form.phone }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}" style="width:80px">Correo:</label>
                        {{ form.email }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}" style="width:80px">Mensaje:</label>
                        {{ form.message }}
                    </div>
                    <button type="submit" class="save btn btn-outline-success" data-toggle="tooltip" title="Enviar mensaje de contacto">Enviar</button>
                    <a href="/" role="button" class="save btn btn-outline-info" data-toggle="tooltip" title="Volver a la página principal">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
