{% extends 'base.html' %}

{% block left %}
{% endblock %}

{% block content %}
<div class="text-justify">
		<h1 style="font-family: 'Lobster';"><br>Cont&aacute;ctanos</h1><br>
		<h2>¡Su petición ha sido registrada!</h2><br>
		<h3>En breve nos pondremos en contacto con usted, muchas gracias por contactar con nosotras.</h3><br>

		<a href="/" class="btn btn-outline-primary" role="button" aria-pressed="true">Volver</a>
</div>

{% endblock %}


{% block right %}
{% include 'sponsors_col.html' %}
{% endblock %}
