<footer class="footer">
	<nav class="navbar navbar-expand-sm fixed-bottom navbar-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myFooter">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="myFooter">
			<ul class="navbar-nav mr-auto">
            {% for social in club.social %}
				<li class="nav-item"><a class="nav-link" href="{{ social.href }}" data-toggle="tooltip" data-placement="top" title="{{ social.text }}" target="_blank"><span class="{{ social.social.icon }}"></span></a></li>
            {% endfor %}
			</ul>
    		<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="mailto:gonson@hotmail.com"  data-toggle="tooltip" data-placement="top" title="Contacta con el diseñador"  target="_blank"><span class="far fa-copyright"></span>  Designed by Gonson</a></li>
    		</ul>
		</div>
	</nav   >
</footer  >
