{% extends 'base1.html' %}

{% block content %}
<div class="row content">
    <div class="col-xl-2 sidenav">
    </div>
    <div class="col-xl-10 text-left">
        <div class="myInstallations">
            <br>
        	<h3><center>Instalaciones de {{ club.name }}</center></h3>
        	<br>
            <div class="row img-thumbnail">
                {% for installation in installations %}
                <div class="col-md-6 thumbnail" align="center">
        		    <a href="{% url 'installations' %}?Id={{ installation.id }}" data-toggle="tooltip" title="{{ installation.title }}">
                        <div class="caption">
                            <h4>{{ installation.title }}</h4>
                        </div>
        			    <img class="img-thumbnail" src="{{ installation.image_path }}">
        		    </a>
                </div>
                {% endfor %}
        	</div>
        </div>
    </div>
</div>
{% endblock %}