{% extends 'base1.html' %}

{% block content %}
<div class="row content">
    <div class="col-xl-1 sidenav">
    </div>
    <div class="col-xl-11 text-left">
        <div class="myTeam">
        	<h3><br><center>Plantilla: {{ team.name }} - {{ team.season.name}}</center></h3>
            <div class="img-thumbnail">
                <div class="row">
                    {% for member in teammembers %}
                    <div class="col-md-2">
                        <div class="thumbnail">
                		    <a href="{% url 'members' %}?Id={{ member.id }}" data-toggle="tooltip" title="{{ member.people.name }} {{ member.people.surname }}">
                			    <img style="width:100%" src="{{ member.photo.gallery.image }}{{ member.photo.image }}">
                                <div class="caption">
                                    <h6>{{ member.people.name }} {{ member.people.surname }}<br>
                    				{% if member.number > 0 %}
                                        <strong>{{ member.number }} - {{ member.nick }}</strong><br>
                    				{% else %}
                                        <strong>{{ member.nick }}</strong><br>
                    				{% endif %}
                                    {{ member.rol.name }}</h6>
                                </div>
                		    </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        	</div>
	    </div>
	</div>
</div>

{% endblock %}