<nav class="navbar navbar-expand-sm fixed-top navbar-dark">
	<a class="navbar-brand" href="/" title="{{ club.name }}">
		<img style="width:40px;" src="{{ club.image }}" alt="Escudo">
	</a>
	<a class="navbar-brand" href="/">{{ club.name }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item ml-5"><a class="nav-link" href="/"><span class="fas fa-home"></span> Inicio</a></li>
		<li class="nav-item ml-5"><a class="nav-link" href="{% url 'news' %}"><span class="fas fa-newspaper"></span> Noticias</a></li>
<!--		<li class="nav-item ml-5"><a class="nav-link" href="#"><span class="fas fa-university"></span> Club</a></li> -->
		<li class="nav-item dropdown ml-5">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span class="fas fa-university"> Club</span></a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#"><span class="fas fa-image"> Historia</a>
				<a class="dropdown-item" href="#"><span class="fas fa-film"> Equipación</a>
			</div>
		</li>
		<li class="nav-item dropdown ml-5">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span class="fas fa-futbol"> Equipos</span></a>
			<ul class="nav-item dropdown-menu">
            {% for team in club.teams %}
    			<li class="dropdown-submenu">
				    <a class="dropdown-item" href="{% url 'team' %}?Id={{ team.id }}"><span class="fas fa-futbol"> {{ team.name }}</a>
    			    <ul class="dropdown-menu">
        				<a class="dropdown-item" href="{% url 'members' %}?Id={{ team.id }}"><span class="fas fa-users"> Plantilla</a>
        				{% if team.url_calendar == None %}
            				<a class="dropdown-item"><span class="fas fa-calendar-alt"> Calendario</a>
        				{% else %}
            				<a class="dropdown-item" target="{{ team.id }}" href="{{ team.url_calendar }}"><span class="fas fa-calendar-alt"> Calendario</a>
        				{% endif %}
        				{% if team.url_results == None %}
            				<a class="dropdown-item"><span class="fas fa-list-ol"> Resultados</a>
        				{% else %}
            				<a class="dropdown-item" target="{{ team.id }}" href="{{ team.url_results }}"><span class="fas fa-list-ol"> Resultados</a>
        				{% endif %}
        				{% if team.url_classification == None %}
            				<a class="dropdown-item"><span class="fas fa-table"> Clasificación</a>
        				{% else %}
            				<a class="dropdown-item" target="{{ team.id }}" href="{{ team.url_classification }}"><span class="fas fa-table"> Clasificación</a>
        				{% endif %}
        				{% if team.url_crossedtable == None %}
            				<a class="dropdown-item"><span class="fas fa-th"> Tabla cruzada</a>
        				{% else %}
            				<a class="dropdown-item" target="{{ team.id }}" href="{{ team.url_crossedtable }}"><span class="fas fa-th"> Tabla cruzada</a>
        				{% endif %}
        			</ul>
    			</li>
            {% endfor %}
			</ul>
		</li>
		<li class="nav-item ml-5"><a class="nav-link" href="#"><span class="fas fa-building"></span> Instalaciones</a></li>
		<li class="nav-item dropdown ml-5">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span class="fas fa-images"> Galerías</span></a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'photogallery' %}"><span class="fas fa-image"> Fotos</a>
				<a class="dropdown-item" href="{% url 'videogallery' %}"><span class="fas fa-film"> Vídeos</a>
			</div>
		</li>
		<li class="nav-item ml-5"><a class="nav-link" href="{% url 'contact' %}"><span class="fas fa-envelope"></span> Contacto</a></li>
	</ul>
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="/admin"><span class="fas fa-sign-in-alt"></span>  Admin</a></li>
	</ul>
	</div>
</nav>
