{% extends 'base1.html' %}

{% block content %}
<div class="row content">
    <div class="col-xl-3 sidenav">
        <div class="myNews">
        	<h3><br><center>Noticias:</center></h3>
            <div class="container img-thumbnail">
            {% for new in news %}
                {% if new.id == current.id %}
            		<a>{{ new.date_publication|date:'d/m/Y' }} - {{ new.title }}</a><br>
                {% else %}
            		<a href="{% url 'news' %}?page={{ news.number }}&Id={{ new.id }}">{{ new.date_publication|date:'d/m/Y' }} - {{ new.title }}</a><br>
                {% endif %}
            {% endfor %}
            </div>

            <nav aria-label="News Navigation">
                <ul class="pagination justify-content-center">
                    {% if news.has_previous == True %}
                        <li class="page-item"><a class="page-link" href="?page=1&Id={{ current.id }}" tabindex="-1" data-toggle="tooltip" title="Primera página"><span class="fas fa-angle-double-left"></span></a><li>
                        <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}&Id={{ current.id }}" tabindex="-1" data-toggle="tooltip" title="Página anterior"><span class="fas fa-angle-left"></span></a><li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"><span class="fas fa-angle-double-left"></span></a><li>
                        <li class="page-item disabled"><a class="page-link"><span class="fas fa-angle-left"></span></a><li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" data-toggle="tooltip" title="Página {{ news.number }} de {{ news.paginator.num_pages }} páginas en total">{{ news.number }} de {{ news.paginator.num_pages }}</a></li>
                    {% if news.has_next == True %}
                        <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}&Id={{ current.id }}" data-toggle="tooltip" title="Página siguiente"><span class="fas fa-angle-right"></span></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ news.paginator.num_pages }}&Id={{ current.id }}" data-toggle="tooltip" title="Ultima página"><span class="fas fa-angle-double-right"></span></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"><span class="fas fa-angle-right"></span></a></li>
                        <li class="page-item disabled"><a class="page-link"><span class="fas fa-angle-double-right"></span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-xl-9 text-left">
        <div class="myNew">
        	<h2><br><center>{{ current.title }}</center></h2>
        	<div class="container">
        	    <br>
        		<h5 class="text-justify"><strong>{{ current.summary }}</strong></h5><br>
                <div><img style="float: left;width:200px;" src="{{ current.image }}"/> {{ current.date_publication|date:'d/m/Y - H:m' }}<br>{{ current.html_text }}</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
